@import '../../containers/App/styles/variables';

:local(.styles) {
	color: $black;
	margin: 50px 0 40px 0;
	
	#upload-container {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 3px dotted $lighterGrey;
		height: 300px;
		width: 70%;
		margin: 0 auto;
		background:  $white35;
		
		&.drop {
			border: 3px dashed $pink;
		}
	}

	#upload-actions {
		text-align: center;

		span,
		#file-list {
			display: inline-block;
			margin-top: 15px;
		}
	}

	.upload-icon {
		font-size: 100px;
		color: $pink;
		margin-bottom: 10px;
	}

	input[name="myFile"] {
		display: none;
	}

}
