@import '../../containers/App/styles/variables';

:local(.styles) {
  .btn {
    cursor: pointer;

    &.primary {
      color: $lightBlue !important;

      button {
        background-color: $lightBlue !important;
      }
    }

    &.secondary {
      color:  $pink !important;

      button {
        background-color: $pink !important;
      }
    }

  }
}

