@import '../../containers/App/styles/variables';

:local(.styles) {

  .btn {
    cursor: pointer;

    &.primary {
      
      button {
        background-color: $lightBlue !important;
      }
    }

    &.secondary {
      color: $pink !important;

      button {
        background-color: $pink !important;
      }
    }

    &.tertiary {
      color: $gold !important;

      button {
        background-color: $gold !important;
      }

      span {
        color: $black !important;
      }
    }

  }

}





