:local(.styles) {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  .dropdown {
    position: absolute;
    top: 2px;
    right: 10px;
    z-index: 2;
  }

  @media (min-width: 900px) {
    .dropdown {
      top: 4px;
      right: 20px;
    }
  }
}
