
$border-radius: 5px;
$radius: 10px;

/********* COLORS **********/

$darkGrey: #212121;
$darkGrey35: #26292a;
$lighterGrey: #505050;
$white: white;
$lightBlue: #0096ef;
$pink: #ff4081;
$green: green;
$red: red;
$black: black;
$seaBlue: #5292b1;
$neonGreen: #b4f4d3;
$gold: #ffa726;
$beige: #f4f3ef;
