$border-radius: 5px;
$darkGrey: #212121;
$darkGrey35: #26292a;
$lightGrey: #414141;
$lighterGrey: #505050;
$white: white;
$white35: #d4d2d2;
$lightBlue: #0096ef;
$pink: #ff4081;
$green: green;
$red: red;
$black: black;
$seaBlue: #5292b1;
$neonGreen: #b4f4d3;

$radius: 10px;