@import '../../containers/App/styles/variables';

:local(.styles) {

  .tabs {
    position: relative;
    z-index: 10000;
    top: -72px;
    max-width: 750px;
    margin: 0 auto;
  }

  .tabs > div:nth-child(2) div {
    background-color: $lightBlue !important;
  }

  @media (max-width: 840px) {
    .tabs {
      max-width: 100%;
      top: -37px;
    }
  }

}

