@import './styles/third-party/normalize';
@import '../../configs/theme/config-styles';
@import './styles/typography';
@import './styles/links';
@import './styles/animations';

/* global styles go here */
:global(body) {
  background: $white;
  color: $darkGrey35;
  font-family: 'Asap-Regular', sans-serif;

  .container {
    margin-top: 500px;
    max-width: 860px;
    padding: 20px;
    margin: 0 auto;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    list-style-position: outside;
  }

  .app-shell {
    display: inline-block;
    height: 86vh;
    width: 100%;
    margin-top: 75px;
  }

  @media (max-width: 500px) {
    .app-shell {
      margin-top: 45px;
    }
  }

}
